#Board
{
    background-color: black;
}

.PlayerId
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: larger;
}

body
{
    background-color: gray;
}

#top
{
    display: flex;
}

#title
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: xx-large;
    font-weight: bold;
}

#winnerText
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    /* font-size: large; */
    font-size: xx-large;
    margin-left: 150px;
}