#Board
{
    background-color: black;
    border: 2px solid white;
}

#centralPart
{
    display: flex;
    justify-content: center;   
    align-items: center;
}

#centralPart *
{
    margin-right: 20px;
}

#sidePanel
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 550px;
}

#sidePanel #nicknameInput
{
    margin-top: 200px;
}

#sidePanel #playersList
{
    margin-top: auto;
}

#sidePanel *
{
    margin-top: 10px;
}

.PlayerId
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: larger;
}

body
{
    background-image: url(res/bg4.jpg);
    background-repeat: no-repeat;
}

header
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#title
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#winnerText
{
    position: absolute;
    top: 166px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: xx-large;   
}

@keyframes entryAnimation
{
    from 
    {
      transform: scale(0);
    }
    to 
    {
      transform: scale(1);
    }
}
  
.bonusImage
{
    position: absolute;
    animation: entryAnimation 1s ease-out;
}